* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color:hsl(40, 50%, 60%);
}

body {
    font-family: Georgia;
}

#cv-container {
    display: grid;
    background-color: hsl(40, 100%, 85%);
    margin: 20px;
    padding: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

#cv-header {
    display: grid;
    margin: 20px;
    padding: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#cv-header-text {
    text-align: center;
    grid-row: 1;
    margin: 20px;
}

#cv-header-line {
    grid-row: 2;
    margin: 20px;
    background-color:hsl(40, 100%, 35%);
}

#cv-biography {
    grid-row: 2;
    display: inline-block;
}

#cv-biography-photo {
    float: left;
    margin-left: 50px;
    padding: 20px;
    width: 25%;
}

#cv-biography-text {
    float: left;
    text-align: center;
    margin: 0px 20px 20px 20px;
    width: 60%;
}

#cv-biography-text p {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: auto;
    max-width: 1000px;
}

#cv-merits-container {
    display: grid;
    grid-row: 3;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    justify-content: start;
    margin: 20px;
    padding: 20px;
}

#cv-merits-line {
    grid-row: 1;
    grid-column: span 2;
    margin: 20px;
    background-color:hsl(40, 100%, 35%);
}

#cv-merits {
    grid-row: 2;
    display: inline-block;
}

#cv-merits-movies {
    float: left;
    width: 50%
}

#cv-merits-movies h2 {
    text-align: center;
    margin: 20px;
}

#cv-merits-movies ul {
    margin: 20px;
}

#cv-merits-awards {
    float: left;
    width: 50%
}

#cv-merits-awards h2 {
    text-align: center;
    margin: 20px;
}

#cv-merits-awards ul {
    grid-row: 3;
    grid-column: 2;
    margin: 20px;
}

#cv-merits-line2 {
    grid-row: 4;
    grid-column: span 2;
    margin: 20px;
    background-color:hsl(40, 100%, 35%);
}

#cv-merits .winner {
    color: hsl(40, 100%, 35%);
}

#cv-merits .nominee {
    color:hsl(0, 0%, 50%);
}

#cv-adress {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#cv-adress-header {
    text-align: center;
    grid-row: 1;
}

#cv-adress-list {
    text-align: center;
    grid-row: 2;
    margin: 10px;
}

@media screen and (max-width: 900px) {
    #cv-biography-photo, #cv-biography-text, #cv-merits-awards, #cv-merits-movies {
        width: 100%;
    }
    #cv-biography-photo {
        margin-left: 35%;
    }
    #cv-biography-text {
        margin: auto;
    }
}
