* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color:hsl(40, 50%, 60%);
}

body {
    font-family: Georgia;
}

#container {
    display: grid;
    background-color: hsl(40, 100%, 85%);
    margin: 20px;
    padding: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

#a {
    display: grid;
    margin: 20px;
    padding: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#a1 {
    text-align: center;
    grid-row: 1;
    margin: 20px;
}

#a2 {
    grid-row: 2;
    margin: 20px;
    background-color:hsl(40, 100%, 35%);
}

#b {
    display: grid;
    grid-row: 2;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: start;
}

#b1 {
    align-content: center;
    grid-row: 1;
    grid-column: span 2;
    margin: 20px;
    background-color:hsl(40, 100%, 35%);
}

#b2 {
    grid-row: 2;
    grid-column: 1;
    margin: 20px;
}

#b3 {
    grid-row: 2;
    grid-column: 2;
    margin: 20px;
}

#b3 p {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: auto;
    max-width: 1000px;
}

#c {
    display: grid;
    grid-row: 3;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    justify-content: start;
    margin: 20px;
    padding: 20px;
}

#c1 {
    grid-row: 1;
    grid-column: span 2;
    margin: 20px;
    background-color:hsl(40, 100%, 35%);
}

#c2 {
    text-align: center;
    grid-row: 2;
    margin: 20px;
}

#c3 {
    text-align: center;
    grid-column: 2;
    margin: 20px;
}

#c4 {
    grid-row: 3;
    grid-column: 1;
    margin: 20px;
}

#c5 {
    grid-row: 3;
    grid-column: 2;
    margin: 20px;
}

#c6 {
    grid-row: 4;
    grid-column: span 2;
    margin: 20px;
    background-color:hsl(40, 100%, 35%);
}

#c .winner {
    color: hsl(40, 100%, 35%);
}

#c .nominee {
    color:hsl(0, 0%, 50%);
}

#d {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

#d1 {
    text-align: center;
    grid-row: 1;
}

#d2 {
    text-align: center;
    grid-row: 2;
    margin: 10px;
}
