* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

html {
    padding-top: 2rem;
    font-family: 'Oleo Script', cursive;
    color: white;
    background-color: black;

    background-image: url('photographer.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

.search-form {
    display: block;
    white-space: nowrap;
    margin: 2rem auto;
    justify-content: center;
    width: 100%;
}

.search {
    display: inline-block;
    vertical-align: top;
}

#picture-search {
    padding: 0.5rem;
    width: 70%;
    min-width: 8rem;
    height: 2.5rem;
    font-size: 32px;
    border: none;
    border-radius: 4px;
}

#picture-colors {
    width: 8rem;
    height: 2.5rem;
    font-size: 25px;
    border: none;
    border-radius: 4px;
}

#submit-button {
    width: 6rem;
    height: 2.5rem;
    font-size: 32px;
    border: none;
    border-radius: 4px;
}

#picture-template-div {
    width: 220px;
}

.picture-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem auto;
    width: 70%;
    justify-content: center;
}

.pictures {
    float: left;
}

.picture-list img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    align-items: center;
    background-color: black;
}

.picture-list p {
    display: inline-block;
    width: 200px;
    margin: 2px 10px;
    text-align: center;
}

.page-button-container {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
}

.page-button {
    margin: 10px;
}

#prev-button {
    background-color: rgb(51, 51, 51)
}

@media screen and (max-width: 810px) {
    .search-form {
        max-width:calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media screen and (min-width: 810px) {
    .search-form {
        max-width:810px
    }
}