* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
}

:focus {
	outline: 0;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 23px;
	background: rgb(53, 81, 91);
	color: rgb(0, 0, 0);
	max-width: 550px;
	margin: 0 auto;
	font-weight: 300;
}

.todoapp {
    display: grid;
    grid-template-rows: auto auto auto;
}

.todoapp {
    background: rgb(207, 207, 207);
	margin: 140px 0 0 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4),
	            0 25px 50px 0 rgba(0, 0, 0, 0.2);
}

.todoapp h1 {
	position: relative;
    grid-row: 1;
    top: -83px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(21, 146, 4, 0.562);
}

.new-todo {
    grid-row: 2;
    padding: 16px 16px 16px 60px;
	margin-top: -20px;
	width: 100%;
    color: rgb(0, 0, 0);
	font-size: 24px;
	line-height: 23px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	box-sizing: border-box;
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: rgb(163, 163, 163);
}

.main {
    grid-row: 2;
	position: relative;
	z-index: 2;
	border-top: 1px solid rgb(230, 230, 230);
}

.toggle-all {
	width: 1px;
	height: 1px;
	opacity: 0;
	position: absolute;
	right: 100%;
	bottom: 100%;
}

.toggle-all + label {
	width: 60px;
	height: 34px;
	font-size: 0;
	position: absolute;
	top: -42px;
	left: -13px;
}

.toggle-all + label:before {
	content: 'V';
	font-size: 22px;
	color: rgb(0, 0, 0);
	padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
	color: rgb(99, 99, 99);
}

.todo-list {
    list-style: none;
}

.todo-list li {
	position: relative;
	font-size: 24px;
}

.todo-list li .toggle {
	text-align: center;
	width: 40px;
	height: auto;
	top: 0;
	bottom: 0;
	margin: auto 0;
	-webkit-appearance: none;
	appearance: none;
}

/* Jag har tagit deras check box till detta*/
.todo-list li .toggle + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

.todo-list li .toggle:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.todo-list li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
    color: rgb(0, 0, 0);
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo-list li.completed label {
	color: rgb(175, 175, 175);
	text-decoration: line-through;
}

.todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	margin-bottom: 11px;
	color: rgba(248, 31, 31, 0.733);
	background: none;
	border: none;
}

.todo-list li .destroy:after {
	content: '×';
}

.todo-list li:hover .destroy {
	display: block;
}

.footer {
	display: grid;
	grid-template-columns: 20% 55% 25%;
    grid-row: 3;
	color: rgb(0, 0, 0);
	height: 50px;
	text-align: center;
	border-top: 1px solid rgb(230, 230, 230);
}

.todo-count {
	grid-column: 1;
	margin: auto;
	text-align: left;
    font-weight: 300;
    margin-left: 10px;
}

.filters {
	grid-column: 2;
	list-style: none;
	right: 0;
	left: 0;
	margin: auto;
}

.filters button {
	display: inline;
    border: none;
    background: none;
	padding: 3px 7px;
	margin: 0 3px;
	cursor: pointer;
	border: 1px solid rgba(175, 47, 47, 0.2);
	border-radius: 3px;
}

.filters button:hover {
	text-decoration: underline;
}

.clear-completed {
	grid-column: 3;
	margin: auto;
	text-decoration: none;
    margin-right: 10px;
    border: none;
    background: none;
	cursor: pointer;
}

.clear-completed:hover {
	text-decoration: underline;
}

.info {
	margin: 65px auto 0;
	color: rgb(191, 191, 191);
	font-size: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-align: center;
}

.info a {
	color: inherit;
	text-decoration: none;
	font-weight: 400;
}

.info a:hover {
	text-decoration: underline;
}

@media screen and (max-width: 550px) {
    body {
        max-width:calc(100% - 40px);
        margin-right: 20px;
        margin-left: 20px;
    }

    .filters button {
        margin: 0 auto;
    }

    .filters button:first-child {
        margin-left: -50px;
    }
}

@media screen and (min-width: 550px) {
    body {
        max-width:550px
    }
}